
@{
    ViewData["Title"] = "GestionCursos";
}

<table id="miTabla" class="table table-dark">
    <thead>
        <tr>
            <th>courseId</th>
            <th>title</th>
            <th>credits</th>
        </tr>
    </thead>
</table>
@section scripts{
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var tabla = $('#miTabla').DataTable({
                "ajax": {
                    "url": '/Home/GetAll',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "courseId", "name": "courseId", "autoWidth": true },
                    { "data": "title", "name": "title", "autoWidth": true },
                    { "data": "credits", "name": "credits", "autoWidth": true },
                ]
            })
        })
    </script>
}
