@model Escuela.Dominio.Tbl_Enrollment
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<table id="miTabla" class="table table-dark">
    <thead>
        <tr>
            <th>courseId</th>
            <th>title</th>
            <th>credits</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
